// 640px, 1024px, 1400px
$breakpoints-up: (
   'medium': '50em',
   'large': '64em',
   'xlarge': '87.5em',
);

// 639px, 1023px, 1399px
$breakpoints-down: (
   'small': '49.9375em',
   'medium': '63.9375em',
   'large': '87.4375em',
);

@mixin breakpoint-up($size) {
   @media (min-width: map-get($breakpoints-up, $size)) {
      @content;
   }
}

@mixin breakpoint-down($size) {
   @media (max-width: map-get($breakpoints-down, $size)) {
      @content;
   }
}

@mixin imageInit {
   display: block;
   height: 100%;
   width: 100%;
   z-index: 1;
}

@mixin shadowOverlay {
   &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
         to right,
         rgba(0, 0, 0, 0.4),
         transparent
      );
      z-index: -1;
      transition: opacity 250ms ease-in;
   }

   &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      opacity: 0;
      transition: opacity 600ms ease-in;
      z-index: 1;
   }
}

@mixin clearfix {
   &::before,
   &::after {
      content: '';
      display: table;
   }

   &::after {
      clear: both;
   }
}
