@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
   --font-Sans: 'IBM Plex Sans', sans-serif;
   --font-Poppins: 'Poppins', sans-serif;
   --font-Normal: 400;
   --font-semiBold: 600;
   --font-Bold: 700;
}
