html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

body {
   position: relative;
   font-family: var(--font-Poppins);
   font-size: 16px;
   overflow-x: hidden;

   &.no-scroll {
      overflow: hidden;
   }
}

img {
   height: auto;
   max-width: 100%;
}

ul,
ol {
   list-style: none;
}

button,
input {
   font-family: var(--fontNormal);
}

a,
a:visited,
a:active {
   text-decoration: none;

   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 2px dashed var(--red);
      outline-offset: 3px;
   }
}
