@use '../util/' as *;

.container {
   max-width: 900px;
   width: 100%;
   margin: 0 auto;
}

.skip-to-content-link {
   position: fixed;
   top: 110px;
   left: 0;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
   padding: 20px 40px;
   background-color: var(--white);
   font-size: 15px;
   text-decoration: underline;
   z-index: 100;
   transform: translateX(-200px);
   transition: transform 300ms ease;
   color: var(--black);

   &:focus {
      outline: 3px dashed var(--red);
      outline-offset: 0;
      transform: translateX(0);
   }
}

.loading *,
.loading *::before,
.loading *::after {
   animation-play-state: paused !important;
}
