@use '../util/' as *;

.container {
   max-width: 1100px;
   width: 100%;
   margin: 0 auto;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 2;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s ease-in-out;
   @media screen and (max-width: 768px) {
      &.overlay-active {
         visibility: visible;
         opacity: 1;
      }
   }
}

.skip-to-content-link {
   position: fixed;
   top: 110px;
   left: 0;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
   padding: 20px 40px;
   background-color: var(--white);
   font-size: 15px;
   text-decoration: underline;
   z-index: 100;
   transform: translateX(-200px);
   transition: transform 300ms ease;
   color: var(--black);

   &:focus {
      outline: 3px dashed var(--red);
      outline-offset: 0;
      transform: translateX(0);
   }
}
