@use '../util/' as *;

h1,
h2,
h3,
h4,
p {
   font-family: var(--font-Sans);
}

.heading {
   color: var(--black);
   font-weight: 400;

   &__name {
      color: var(--red);
   }

   &--intro {
      color: var(--black);
      font-size: clamp(30px, 5vw, 42px);
      text-align: center;
      font-weight: 600;
      margin-bottom: 18px;
   }

   &--xxl {
      @extend .heading;
      font-size: clamp(34px, 7vw, 58px);
      max-width: 480px;
      font-weight: 700;
      margin-bottom: 20px;
   }

   &--xl {
      position: relative;
      font-size: clamp(17px, 4vw, 23px);
      font-weight: 700;
      text-align: center;
      color: var(--red);
      margin-bottom: 29px;
      text-transform: uppercase;

      &::before {
         content: '';
         position: absolute;
         left: 0;
         right: 0;
         bottom: -5px;
         height: 5px;
         width: 64px;
         margin: 0 auto;
         background-color: var(--red);
      }
   }

   &--l {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--black);
      margin-bottom: 19px;
   }

   &--m {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 14px;
      color: var(--white);
   }

   &--services {
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      margin: 15px 0;
   }

   &--footer {
      font-size: 40px;
   }
}

.paragraph {
   line-height: 1.2;

   &__name {
      color: var(--black);
      font-weight: 700;
   }

   &--l {
      @extend .paragraph;
      font-size: clamp(23px, 3vw, 27px);
      margin-bottom: 26px;
   }

   &--about {
      font-size: 16px;
      margin-bottom: 17px;
      line-height: 28px;
   }
}

.learnMore {
   &__text {
      color: var(--red);
      font-weight: 700;
      font-size: 17px;
      letter-spacing: 1px;
      margin-right: 18px;
      transition: margin-right 0.3s ease-in-out;
   }

   &__icon {
      svg {
         path {
            fill: var(--red);
         }
      }
   }
}
