@use '../util/' as *;

.btn {
   $root: &;

   position: relative;
   outline: none;
   border: none;
   font-size: 15px;
   font-weight: 600;
   cursor: pointer;
   transition: background-color 300ms, border 300ms ease-in;

   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 3px solid var(--red);
      outline-offset: 3px;
   }

   &--menu {
      @extend #{$root};
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      background-color: transparent;
      z-index: 10;

      &:focus {
         outline: none;
      }

      &:focus-visible {
         outline: 3px solid var(--red);
         outline-offset: 2px;
      }

      &--bar {
         background-color: var(--black);
         display: block;
         height: 0.25rem;
         transition-duration: 0.2s;
         transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
         width: 1.5rem;

         &:not(:last-of-type) {
            margin-bottom: 0.2rem;
         }
      }

      &.menu-active {
         .btn {
            &--menu--bar {
               background-color: var(--white);
               &:nth-child(1) {
                  transform: rotate(45deg) translate(2px, 5px);
                  transition-delay: 150ms;
               }

               &:nth-child(2) {
                  opacity: 0;
               }

               &:nth-child(3) {
                  transform: rotate(-45deg) translate(5px, -8px);
                  transition-delay: 150ms;
               }
            }
         }
      }

      @media screen and (min-width: 769px) {
         display: none;
      }
   }

   &--blue {
      @extend #{$root};
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: var(--red);
      // background-color: blue;

      color: var(--white);
      box-shadow: 0px 10px 15px -7px var(--black);
      z-index: 1;

      &:hover {
         color: var(--red);
         &::before {
            transition: all 350ms ease;
            background-color: var(--white);
         }
      }

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: var(--red);
         display: block;
         border: 2px solid var(--red);
         border-radius: 4px;
         z-index: -1;
         transition: all 350ms ease;
      }
   }

   &--start {
      @extend #{$root};
      width: 180px;
      height: 48px;
   }

   &--more {
      &:hover {
         .learnMore__text {
            margin-right: 26px;
         }
      }
   }

   &--view {
      font-size: 16px;
      color: var(--black);
   }
}
