@use '../util/' as *;

.footer {
   position: relative;
   background-color: rgba(236, 236, 236, 0.4);
   padding: 1rem 8px;

   &__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }

   &__link {
      display: flex;
      align-items: center;
      gap: 14px;

      &__icon {
         transition: all 0.3s ease-in;

         &:hover {
            svg path {
               transition: all 0.3s ease-in;
               fill: var(--black);
            }
         }

         svg path {
            fill: var(--black);
         }
      }
   }

   &__text {
      color: var(--black);
      margin-top: 7px;
      text-align: center;
      font-size: clamp(12px, 2vw, 13px);
   }
}
