@use '../util/' as *;

.footer {
  position: relative;
  background-color: rgba(236, 236, 236, 0.4);
  padding: 1rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      'info info'
      'text link';

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'info'
        'link'
        'text';
      justify-items: center;
    }
  }

  &__link {
    grid-area: link;
    display: flex;
    align-items: center;
    gap: 14px;

    &__icon {
      transition: all 0.3s ease-in;

      &:hover {
        svg path {
          transition: all 0.3s ease-in;
          fill: var(--black);
        }
      }

      svg path {
        fill: var(--black);
      }
    }
  }

  &__info {
    grid-area: info;
    display: flex;
    gap: 1rem;
    margin-bottom: 30px;

    h5 {
      margin-bottom: 4px;
    }
  }

  &__text {
    grid-area: text;
    color: var(--black);
    margin-top: 7px;
    font-size: clamp(12px, 2vw, 13px);

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}
