@use '../util/' as *;

.header {
   position: absolute;
   left: 0;
   width: 100%;
   padding: 24px 28px 0;
   z-index: 999;

   &.header--in {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 12px 28px;
      transition: all 0.3s ease-in-out;
      background-color: var(--white);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.04);
      animation: headerScrollIn 700ms ease-in-out forwards;
   }

   &.scroll-out {
      animation: headerScrollOut 300ms ease-in-out forwards;
   }

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 51px;
      transition: all 350ms ease-in-out;
   }

   &__logo {
      z-index: 1;
      font-size: 24px;
      color: var(--black);

      @media screen and (max-width: 768px) {
         &.active-color {
            color: var(--white);
         }
      }

      &--letter {
         font-size: 30px;
         color: var(--red);
      }
   }

   @media screen and (max-width: 768px) {
      &__menu {
         position: fixed;
         width: 100%;
         top: 0px;
         right: -1000px;
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: var(--black);
         transition: all 340ms ease-in;

         &.is-active {
            right: 0px;
         }
      }
   }
   &__list {
      display: flex;
      align-items: center;
   }

   @media screen and (min-width: 769px) {
      &__item {
         &:not(:last-child) {
            margin-right: 28px;
         }
      }
   }

   @media screen and (max-width: 768px) {
      &__list {
         display: grid;
         grid-template-columns: max-content;
         grid-template-rows: repeat(5, 3.75rem);
         align-items: center;
         justify-items: center;
      }
   }

   &__link {
      position: relative;
      font-size: 17px;
      font-weight: 600;
      color: var(--white);
      text-transform: uppercase;

      &:active {
         outline: 3px solid var(--white);
         outline-offset: 3px;
      }

      &::before {
         content: '';
         position: absolute;
         left: 0;
         bottom: -5px;
         height: 4px;
         width: 100%;
         background-color: var(--red);
         visibility: hidden;
         opacity: 0;
         transform-origin: left;
         transform: scaleX(0);
      }

      @media screen and (min-width: 769px) {
         color: var(--black);
         font-size: 15px;

         &:hover {
            color: var(--red);

            &::before {
               visibility: visible;
               opacity: 1;
               transform: scale(1);
               transition: all 350ms ease-in;
            }
         }
      }
   }
}
