@use '../util/' as *;

.hero {
   position: relative;
   padding: 0 18px;

   &__container {
      display: flex;
      flex-direction: column;
      padding: 166px 0 140px 0;

      @media screen and (min-width: 769px) {
         justify-content: center;
         align-items: center;
         flex-direction: row;
      }
   }

   &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @media screen and (min-width: 769px) {
         align-items: flex-start;
         flex: 1 0 50%;
         text-align: left;
      }
   }
}

.about {
   padding: 0 18px 170px;

   &__container {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;

      @media screen and (min-width: 769px) {
         grid-template-columns: 380px 1fr;
      }
   }

   &__img {
      width: 286px;
      height: 270px;
   }
}

.skills {
   position: relative;
   padding: 0 18px;

   &__container {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
         flex-direction: row;
         gap: 20px;
      }
   }

   &__tech,
   &__tools {
      display: flex;
      flex-direction: column;
      justify-self: center;
      width: 100%;
   }

   &__names {
      display: grid;
      grid-template-columns: 70px 1fr;
      align-items: center;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      padding: 10px 28px;
      margin-bottom: 15px;
      box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);

      &:hover {
         transform: translateY(-8px);
         transition: transform 0.3s ease-in-out;
      }
   }
}
